::-webkit-scrollbar {
  width: 0px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  background: #FFFFFF;
}
.page_content{
  display: flex;
  flex-direction: column;
  margin-left: 220px;
}

.none{
  display: none;
}
.teste1, .teste2{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ED7839;
  justify-content: flex-end;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  z-index: 3;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 
  0px 0px 2px 2px rgba(0, 0, 0, 0.24);
}
.teste1{
  top: 50vh;
  left: -32px;
}
.teste2{
  top: 50vh;
  left: calc(220px - 32px);
}

.font-roboto{
  font-family: 'Roboto';
  font-style: normal;
}
.font-quicksand{
  font-family: 'Quicksand';
  font-style: normal;
}
.font-segoe-ui{
  font-family: 'Segoe UI';
  font-style: normal;
}

.flex{
  display: flex;
}
.flex--column{
  flex-direction: column;
}
.flex--align-center{
  align-items: center;
}
.flex--align-end{
  align-items: flex-end;
}
.flex--justify-center{
  justify-content: center;
}
.flex--justify-space-between{
  justify-content: space-between;
}
.flex--no-wrap{
  flex-wrap: nowrap;
}

.circular{
  border-radius: 50%;
}

.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.relative{
  position: relative;
}

.bolder{
  font-weight: 700;
}
.lighter{
  color: #b7acac;
}

@media screen and (max-width: 1130px) and (min-width: 1024px){
  .main-middle-top__video-content__h2{
    font-size: 20px !important;
  }
  .main-middle-top__video-content__bottom-h1{
    font-size: 30px !important;
  }
  .main-middle-top__video-content__bottom-p{
    font-size: 16px !important;
  }
  .main-middle-top__icon-border{
    width: 64px !important;
    height: 64px !important;
  }
  .main-middle-top__icon-container{
    height: 58.1139px !important;
    width: 56.1387px !important;
  }
  .main-middle-top__icon{
    height: 100%;
  }
  
}

@media screen and (max-width: 1023px) {
  .main-middle-top{
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }
  .main-middle-top__video-container {
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
  .main-middle-top__details-content{
    width: 100% !important;
  }
} 

@media screen and (max-width: 965px) {
  .header__description{
    font-size: 12px !important;
  }
  .header__subtitle{
    font-size: 12px !important;
  }
  .header__title{
    font-size: 17px !important;
  }
  .main-top-content__project-title{
    font-size: 16px !important;
  }
}
@media screen and (min-width: 881px) {
  .teste1{
    display: none !important;
  }
  .teste2{
    display: none !important;
  }
  .close{
    display: flex !important;
  }
}

@media screen and (max-width: 880px) {  
  .close{
    display: none;
  }
  .page_content{
    margin-left: 0;
  }
  .teste1{
    display: flex;
  }
  
} 

@media screen and (max-width: 767px) {
  .main-middle-top__video-container{
    min-width: 303px;
  }
  .main-middle-top__icon{
    height: 100%;
  }
  header{
    flex-direction: column;
    align-items: flex-start !important;
    position: relative;
    padding-left: 36px !important;
    padding-right: 37.85px !important;  
    box-sizing: border-box !important;
    padding-bottom: 5px !important;
  } 
  .header__text-content{
    width: 100%;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .header__right-side{
    width: 100%;
    justify-content: space-between;
  }
  .main-top-content {
    flex-direction: column;
  }
  .main-top-content__right-content{
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) and (min-width: 550px){
  .main-middle-top__video-content__h2{
    font-size: 14px !important;
  }
  .main-middle-top__video-content__bottom{
    line-height: 12px;
  }
  .main-middle-top__video-content__bottom-h1{
    font-size: 20px !important;
  }
  .main-middle-top__video-content__bottom-p{
    font-size: 10px !important;
  }
  .main-middle-top__icon-border{
    width: 44px !important;
    height: 44px !important;
  }
  .main-middle-top__icon-container{
    height: 38.1139px !important;
    width: 36.1387px !important;
  }
}

@media screen and (max-width: 549px){
  .main-middle-top__video-container{
    margin-bottom: 10px;
  }
  .main-middle-top__video-content__h2{
    font-size: 10px !important;
  }
  .main-middle-top__video-content__bottom{
    line-height: 10px;
    bottom: 15px !important;
  }
  .main-middle-top__video-content__bottom-h1{
    font-size: 12px !important;
  }
  .main-middle-top__video-content__bottom-p{
    font-size: 8px !important;
  }
  .main-middle-top__icon-border{
    width: 44px !important;
    height: 44px !important;
  }
  .main-middle-top__icon-container{
    height: 38.1139px !important;
    width: 36.1387px !important;
  }
  
}


/* main{
  margin-left: 44px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.main_top_content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;  
  padding-right: 44px;
  box-sizing: border-box;
}

.project_title{
  max-width: 786px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900; 
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ED7839;
}
.top_right_content{
  margin-left: 29px; 
  display: flex;
  flex-direction: column;
}
.top_buttons{
  display: flex;
  padding-bottom: 10px;
}
.top_buttons button{
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  background: #ED7839;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
}
.top_buttons .btn_download{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border-radius: 4px;
}
.top_buttons .btn_download img{
  margin-right: 5px;
}
.top_right_content .quote{
  width: 100%;
  margin-left: 5px;
  height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ED7839;
}
.main_middle_FirstContent{
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding-right: 44px;
  box-sizing: border-box;
}
.main_middle_FirstContent > .container{
  position: relative;
  margin-right: 31px;
  max-width: 783px;
  background-color: #EE7A3A;
  border-radius: 3px;
  overflow: hidden;
}
.main_middle_FirstContent .video_background{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/dewey1.png);
  background-position: center;
  background-repeat: no-repeat !important;
  z-index: 0;
}
.main_middle_FirstContent .video_overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(141, 53, 6, 0.5);
  z-index: 1;
}
.main_middle_FirstContent .content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
} 
.main_middle_FirstContent .content h2{
  padding-top: 35px;
  padding-left: 32px;
  font-size: 24px;
  max-width: 734px;
}
.main_middle_FirstContent .bottom_content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 52px;
  left: 31px;
}
.main_middle_FirstContent .icon_border,.main_middle_FirstContent .img_icon{
  border-radius: 50%;
}
.main_middle_FirstContent .icon_border{
  width: 84px;
  height: 84px;
  border: 1px solid #ED7839;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_middle_FirstContent .img_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 77.48514556884766px;
  width: 74.85147857666016px;
}
.main_middle_FirstContent .bottom_content > .container{
  margin-bottom: 8px;
  margin-left: 17px;
}
.main_middle_FirstContent .bottom_content > .container h1{
  font-size: 34px;
  padding-bottom: 5px;
}
.main_middle_FirstContent .bottom_content > .container p{
  font-size: 20px;
  margin-left: 2px;
}

.details_content{
  width: 242px;
  border: 1px solid #ECECEC;
  border-radius: 3px;
}
.h2_title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #4E4E4E;
  width: 100%;
  height: 45px;
  background: #FDF1EB;
  border: 1px solid #ECECEC;
  border-radius: 3px 3px 0px 0px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-left: 15px;
}
.details_content .container{
  position: relative;
  padding: 15px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #5C5C5C;
}
.details_content .details_content_description li{
  padding-bottom: 3px;
  line-height: 15px;
}
.bolder{
  font-weight: 700;
}
.details_content_authors{
  padding-top: 18px;
  font-size: 14px;
}
.details_content_authors li{
  padding-bottom: 7px;
}
.details_content_references{
  padding-top: 37px;
  line-height: 12px;
}
.details_content_references li{
  padding-bottom: 5px;
  font-size: 12px;
}
.lighter{
  color: #b7acac;
}
.details_scroll{
  position: absolute;
  width: 3px;
  height: 367px;
  top: 10px;
  right:7px;
  background: #E7E7E7;
  border-radius: 5px;
}
.current_bar{
  position: absolute;
  width: 3px;
  height: 200px;
  top: 0;
  background: #BFBFBF;
  border-radius: 5px;
}
.main_middle_secondCotent{
  padding-right: 44px;
  padding-top: 30px;
}
.resume_content{
  border: 1px solid #ECECEC;
  border-radius: 3px;
}
.resume_container{
  padding: 15px;
}
.resume{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #5C5C5C;
}
.resume:nth-child(n+2){
  padding-top: 35px;
}

.resume .see_more{
  color: #ED7839;
  font-weight: 600;
}
.discussions_content{
  margin-top: 30px;
  border: 1px solid #ECECEC;
  border-radius: 3px;
}

.discussions_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}
.discussions_container h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ED7839;
}
.discussions_container .icons{
  display: flex;
  margin-top: 27px;
  margin-bottom: 35.06px;
  width: 256.26px;
  justify-content: space-between;
}
.discussions_container p{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #595959;
}
.discussions_container .message{
  width:630px;
  text-align: center;
  margin-bottom: calc(61px - 17px); 
}
.divider{
  width: calc(100% - 30px);
  height: 0;
  border: 1px solid #E7E7E7;
  position: absolute;
  top: 218px;
}
.btn_create_topic{
  position: absolute;
  top: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 32px;
  border: none;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;
}
.btn_create_topic img{
  margin-right: 6px;
}
.card_topic{
  padding: 17px 23.17px 18px 24.17px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 17px;
}

.question_title{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ED7839;
  margin-bottom: 3px;
}
.author_username{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
  margin-bottom: 10px;
}
.card_content{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4D4D4D;
  margin-bottom: 11px;
}
.card_footer{
  width: 165px;
  height: 19px;
  display: flex;
  justify-content: space-between;
}
.card_footer .btn_like{
  width: 27px;
  height: 19px;
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_footer p{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  color: #757575;
} */