body{
    overflow: hidden;
}
.side_menu{
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    top:0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.side_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 536px;
}
.event_name{
    height:68px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.menu_item_logo{
    width: 220px;
    height: 258px;
}
.menu_pages{
    width: 220px;
}
.menu_pages li{
    display: flex;
    align-items: center;
    height: 33px;
    border-bottom: 2px solid #E7E7E7;
    padding-left: 24px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #5c4646;
}
.selected{
    padding-left: 0px !important;
    background: #FDF1EB;
}
.selected_left_border{
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    margin-right: 24px;
}

header{
    position: absolute;
    height: 68px;
    width: calc(100vw - 220px);
    left: 220px;
    top: 0px;
    background: #FDF1EB;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
}
.header_text_content{
    position: relative;
    width: 643px;
    margin-left: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #725C5C;
}
.header_description{
    position: absolute;
    top: 5px;
    font-size: 14px;
}
.header_title{
    position: absolute;
    top: 23px;
    font-size: 22px;
}
.header_subtitle{
    position: absolute;
    top: 48px;
    font-size: 14px;
}
.btn_languages{
    box-sizing: border-box;
    position: absolute;
    width: 97px;
    height: 34px;
    right: 260px;
    top: 17px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    background: #FDF1EB;
}
.btn_languages img, .btn_languages p{
    position: absolute;
}
.img_languages{
    left: 9px;
    top: 4px;
}
.btn_languages p{
    left: 31px;
    top: 8px;
}
.img_dropdown{
    left: 78px;
    top: 14px;
}

.header_login{
    position: relative;
    width: 202px;
    height: 34px;
    margin-right: 37.85px;
    display: flex;
    margin-top: 17px;
}
.header_login_text{  
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
}
.user_email{
    font-size: 12px;
    margin-top: 1px;
}
.user_img{
    width: 48px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6.8px;
}
.user_img img{
    width: 48px;
    height: 30px;
}
.user_notification{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6px;
    right: 6px;
}
.user_notification img, .user_notification p{
    position: absolute;
}
.user_notification p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #FFFFFF;
}
main{
    position: absolute;
    width: calc(100vw - 263px);
    height: 1382px;
    left: 263px;
    top: 88px;
}

.main_top_content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;  
    width: 100%;
    padding-right: 44px;
    box-sizing: border-box;
}

.project_title{
    max-width: 786px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900; 
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}
.top_right_content{
    margin-left: 29px; 
    display: flex;
    flex-direction: column;
}
.top_buttons{
    display: flex;
    padding-bottom: 10px;
}
.top_buttons button{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
}
.top_buttons .btn_download{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 4px;
}
.top_buttons .btn_download img{
    margin-right: 5px;
}
.top_right_content .quote{
    width: 100%;
    margin-left: 5px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}
.main_middle_FirstContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding-right: 44px;
    box-sizing: border-box;
}
.main_middle_FirstContent > .container{
    position: relative;
    width: 783px;
    height: 439px;
    background-color: #EE7A3A;
    border-radius: 3px;
    overflow: hidden;
}
.main_middle_FirstContent .video_background{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/dewey1.png);
    background-position: center;
    background-repeat: no-repeat !important;
    z-index: 0;
}
.main_middle_FirstContent .video_overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(141, 53, 6, 0.5);
    z-index: 1;
}
.main_middle_FirstContent .content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
} 
.main_middle_FirstContent .content h2{
    padding-top: 35px;
    padding-left: 32px;
    font-size: 24px;
    max-width: 734px;
}
.main_middle_FirstContent .bottom_content {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 52px;
    left: 31px;
}
.main_middle_FirstContent .icon_border,.main_middle_FirstContent .img_icon{
    border-radius: 50%;
}
.main_middle_FirstContent .icon_border{
    width: 84px;
    height: 84px;
    border: 1px solid #ED7839;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_middle_FirstContent .img_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 77.48514556884766px;
    width: 74.85147857666016px;
}
.main_middle_FirstContent .bottom_content > .container{
    margin-bottom: 8px;
    margin-left: 17px;
}
.main_middle_FirstContent .bottom_content > .container h1{
    font-size: 34px;
    padding-bottom: 5px;
}
.main_middle_FirstContent .bottom_content > .container p{
    font-size: 20px;
    margin-left: 2px;
}

.details_content{
    width: 242px;
    height: 439px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}
.h2_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    width: 100%;
    height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-left: 15px;
}
.details_content .container{
    padding: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #5C5C5C;
}
.details_content .details_content_description li{
    padding-bottom: 3px;
    line-height: 15px;
}
.bolder{
    font-weight: 700;
}
.details_content_authors{
    padding-top: 18px;
    font-size: 14px;
}
.details_content_authors li{
    padding-bottom: 7px;
}
.details_content_references{
    padding-top: 37px;
    line-height: 12px;
}
.details_content_references li{
    padding-bottom: 5px;
    font-size: 12px;
}
.lighter{
    color: #b7acac;
}
.details_scroll{
    position: absolute;
    width: 3px;
    height: 367px;
    left: 1049px;
    top: 128px;
    background: #E7E7E7;
    border-radius: 5px;
}
.current_bar{
    position: absolute;
    width: 3px;
    height: 200px;
    top: 0;
    background: #BFBFBF;
    border-radius: 5px;
}